<div ng-controller="LanguageCtrl" class="lan-managment">
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			<span class="flag-icon {{selectedLanguage.flag}}"></span> {{selectedLanguage.name}}
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li ng-repeat="item in aveableLanguages">
				<a ng-click="changeLanguage(item)" href="javascript: void(0);"><span class="flag-icon {{item.flag}}"></span> {{item.name}}</a>
			</li>
		</ul>
	</div>
</div>
